/*.fb-login-button span,
.fb-login-button iframe {
    width: 120px! important;
    height: 25px! important;
}*/

/*html{
	background-color: blue;
}*/

/*.twitStream{
    font-family: verdana;
    font-size: 11px;
}
.twitStream a{
    font-family: verdana;
    font-size: 11px;
}
.tweet{
    display: block;
    padding: .4em;
    margin: .4em 0;
}
.tweet-left{
    float: left;
    margin-right: 1em;
}
.tweet-left img{
    border: 2px solid #000000;
}
.tweet p.text{
    margin: 0;
    padding: 0;
}*/

h1{
    text-align: center;
}

.pure-form{
    text-align: center;
}